Language: Cpp
BasedOnStyle: Google

AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: true
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
