[submodule "deps/cpp-netlib"]
	path = deps/cpp-netlib
	url = https://github.com/anonimal/cpp-netlib.git
	branch = 0.13-release
[submodule "deps/cryptopp"]
	path = deps/cryptopp
	url = https://github.com/anonimal/cryptopp.git
[submodule "docs"]
	path = docs
	url = https://github.com/monero-project/kovri-docs.git
[submodule "deps/miniupnp"]
	path = deps/miniupnp
	url = https://github.com/monero-project/miniupnp
	branch = monero
[submodule "cmake/cotire"]
	path = cmake/cotire
	url = https://github.com/sakra/cotire.git
